USE [master]
GO
/****** Object:  Database [UserFeedback]    Script Date: 24/09/2018 20:37:41 ******/
CREATE DATABASE [UserFeedback]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UserFeedback', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\UserFeedback.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UserFeedback_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\UserFeedback_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UserFeedback].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UserFeedback]
GO
USE [UserFeedback]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 24/09/2018 20:37:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[SessionID] [varchar](50) NOT NULL,
	[UserID] [varchar](50) NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [varchar](500) NULL,
	[SavedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
